{{!--
<link rel="stylesheet" type="text/css" href="css/app.css" />
--}}
<style>
    .parents-container {
        margin: 0.5em;
        margin-right: 1em;
    }

    .pathname {
        text-decoration: none;
        font-size: 1.5em;
        color: rgb(0, 0, 0); /* colors */
    }

    .link-container {
        margin-top: 0.1em;
        margin-bottom: 0.1em;
        margin-left: auto;
        margin-right: auto;
        padding: 1px;
        border: #888;
        border-radius: 5px;
    }

    .link-name {
        word-wrap: break-word;
        word-break: break-all;
        color: #050505;
        font-size: 1.2em;
        text-decoration: none;
    }
</style>
<div class="container">
    <h2>{{dirname}}</h2>
    <div class="parents-container container">
        {{#each parents}}
        <a class="pathname" href="{{path}}">{{name}}</a>
        {{/each}}
    </div>
    <div class="list">
        {{#each dirs}}
        <a class="{{class}} link-container col-sm-12" href="{{path}}">
            <div class="link-name">
                <span class="glyphicon glyphicon-folder-open"></span>
                {{name}}
            </div>
        </a>
        {{/each}}
        {{#each files}}
        <a class="{{class}} link-container col-sm-12" href="{{path}}">
            <div class="link-name">
                {{#if image}}
                <span class="glyphicon glyphicon-picture"></span>
                {{else if video}}
                <span class="glyphicon glyphicon-film"></span>
                {{else}}
                <span class="glyphicon glyphicon-file"></span>
                {{/if}} 
                {{name}}
            </div>
        </a>
        {{/each}}
    </div>
</div>
<div class="container text-right">
    <button class="btn btn-default" onclick="router_client.submiter.getDirectory(event)">
        <span class="glyphicon glyphicon-download"></span>
        Download directory
    </button>
</div>